---
import fs from 'fs';
import path from 'path';
import matter from 'gray-matter';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Project from '@components/Project.astro';

// Ruta a la carpeta de proyectos
const projectsDir = 'src/projects';

// Leer archivos Markdown de la carpeta de proyectos y extraer datos de frontmatter
const projectFiles = fs.readdirSync(projectsDir).map(file => {
  const filePath = path.join(projectsDir, file);
  const fileContent = fs.readFileSync(filePath, 'utf-8');

  // Extraer el frontmatter usando gray-matter
  const { data } = matter(fileContent);

  // Retornar los datos necesarios para el componente Project, incluyendo el slug
  return {
    slug: file.replace('.md', ''), // El nombre del archivo sin la extensión
    title: data.title,
    description: data.description,
    imageUrl: data.imageUrl,
    projectUrl: `/projects/${file.replace('.md', '')}`, // URL dinámica
  };
});
---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Portafolio</title>
	<link rel="stylesheet" href="/src/styles/global.css">
</head>
<body>
	<Header/>
	<hr>
	<div class="img-container">
		<img class="img" src="/assets/purple-background.webp" alt="">
		<p>Proyectos</p>
	</div>
  
	<!-- Mapear y mostrar cada proyecto -->
	{projectFiles.map(({ title, description, imageUrl, projectUrl }) => (
		<a href={projectUrl} style="text-decoration: none;">
			<Project title={title} description={description} imageUrl={imageUrl} projectUrl={projectUrl} />
		</a>
	))}

	<Footer/>
</body>
</html>

<style>

* {
	color: white;
	margin: 0;
	padding: 0;
}

.img-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}

.img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

.img-container p {
	font-size: 3rem;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
}

.project {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	display: flex;
	justify-content: space-between;
}

.project img {
	max-width: 300px;
	border-radius: 20px;
}

.text h4 {
	color: white;
	margin-top: 50px;
}

.text p {
	color: #797979;
}

</style>
